.about{
    margin-top: 40px;
    min-width: 80vh;
    
}
.about-board{
    display: flex;
    flex-direction:row ;
    margin-left: 70px;

}
.about-div-image{
    width: 30vw;
    height: 500px;
    background-image: url('../stories/assets/abt-us.jpg');
    background-size: contain;
    top:-35px;
}
.about-div-text{
    width: 50vw;
    margin :20px ;
    text-align: left;
    line-height: 1.3em;

}
/* about-div-image */
h1{
    color: #827376;
    margin-bottom: 10px;
}
h4{
    text-align: left;
}
.abt-h4{
    margin:2em 0 .5em 
}
.abt-p{
    margin-top: 0;
}