.App {
  text-align: center;
 
  font-family: 'poppins',sans-serif;
  width: 100%;
}
.my-app{
 display: flex;
  flex-direction: column;
}
/* .Hero{
  margin-top: 15px;
  margin-left: 60px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.Hero img{
  width: 90%;
  align-self: center;
} */
