.details-pop-up{
    /* position:relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #efdccb;;
    /* background-color: #fff; */
    z-index: 1000;
    position:absolute;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
   
 

}
 .popup-content{
    left:25vw !important;
     /* top:130vh !important;  */
    width: 50vw !important;
    height: 70vh !important;
    

}
.properties{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center-start;
    width: 100%;
    height: 100%;
    /* margin-bottom: 25px; */

    /* margin-top: ; */

}
.details-pop-up .details-image{
    height: 100%;
    width: 50%;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
}
.txt-properties{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 20px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
    opacity :.8;
}
.txt-properties h4{
    margin-top: 5px;
    margin-bottom: 5px;
}
.attribute-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact:hover{
    opacity:.75;
    cursor: pointer;
}
.properties button{
    background-color: #17122d;
    color: #efdccb;
    align-self: center;
    margin-bottom: 10px;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    opacity:.65;
    font-size: 12px;
}
.contact img{
    height: 20px;
    width: 20/px;
    margin: 0 10px;
    opacity: .9;
}
.h4{
    text-align: left;
    /* justify-self: left;
    width: auto;
    margin-left: 20px;
    padding-left: 0; */
}