.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);

   grid-template-columns:  repeat(auto-fill,minmax(300px,1fr));

    row-gap: 35px;
    column-gap: 25px;
}
.pets{
    padding :10vh 10vw;
    min-height: 70vh;
}
.pets h1{
    /* margin-bottom: 10vh; */
    color: #17122d;
}
